@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@media (max-width:400px) {
  html{
    font-size: 7px;
  }
  
}
@media (max-width:650px) {
  html{
    font-size: 9px;
  }
  
}
@layer components {
  
  .header{
    @apply text-3xl pt-10 text-center text-pink-200;
  }

 
  .edu-header{
    @apply mx-auto text-center text-3xl ;
  }
  .education{
    @apply pt-2 text-orange-900 align-middle;
  }
  .school-logo{
    @apply w-12 my-2;
  }
  .edu-item{
    @apply  shadow-slate-900 shadow-sm m-2 p-2 text-center justify-center flex text-amber-900 flex-col items-center;
    

  }

  
  .app-body{
    @apply  bg-gradient-to-t from-red-600 to-orange-200 ;
  }
  .logo{
    @apply stroke-amber-100 fill-red-800 w-20 justify-center;
  }
    
  .sticky-links{
    @apply z-30;
    @apply fixed left-1/2 -translate-x-1/2 bottom-10 flex flex-row 
     flex-wrap   backdrop-filter backdrop-blur-lg bg-black/50 p-2 rounded shadow-2xl;
    @apply md:text-xs sm:text-xs;
  }
  .home{
    @apply min-w-fit  h-screen pt-3;
  }
  .projects_header{
    @apply pt-5;
  }
  .projects{
    @apply mt-10;
  }
  .project{
    @apply mx-8;
  }
  .project_name{
    @apply text-center mt-4;
  }
  .projects_header{
    @apply text-2xl text-amber-900 text-center;
  }
  .hero-img{
    /* animation: bounce infinite 2s cubic-bezier(0.45, 0.45, 1, 1); */
    @apply z-10 w-full;
  }
  .link.active-link{
    @apply text-amber-800 bg-teal-200;
  }
  .card{
    @apply max-w-sm bg-white rounded-md border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-white;
  }
  .hero-box{
    @apply bg-red-500 mt-24  mx-auto flex justify-center relative;
    @apply before:bg-amber-800 after:bg-amber-900/80;
    height:24rem;
    width:10rem;
    border-radius:12rem 10rem 0 0;
  }
  .link{
    @apply text-amber-300 rounded-lg cursor-pointer w-8 h-full mx-1 p-1 hover:text-white text-2xl hover:bg-amber-900;
  }
  .skills{
    @apply mx-auto w-3/4 text-slate-50 mt-10 ;
  }
  .skill-section{
  @apply flex flex-wrap justify-center;  
  }
  .skill{
    @apply mx-3 w-28 bg-slate-900 flex items-center flex-col rounded-md my-10;
    @apply hover:scale-125
  }
  .skill-logo{
    @apply text-5xl text-center my-2;
  }
  .contacts{
   @apply w-20 relative left-12 border-l-2 border-red-900 ml-5 -mt-32 sm:left-28;
   @apply md:text-xs sm:text-xs sm:left-20 md:left-1;
   
  }
  .contact-link{
    @apply text-amber-800 rounded-lg w-20 h-10 cursor-pointer mx-1 p-1 hover:text-white text-2xl hover:bg-red-900/80;
  }
  .hamburger{
    @apply lg:opacity-0 sm:opacity-100 absolute top-8 right-8;
  }
  .carousel{
    @apply w-screen bg-yellow-300 text-2xl text-orange-800;
  }


  .about-section{
    @apply mx-6 w-2/5 text-slate-600 text-lg ;


  }
  .section-about{
    @apply flex-row ml-32 relative flex justify-center pt-12;
  }
  .about-header{
    @apply text-3xl pt-10 text-center text-red-800;
  }
  .about-image{
    @apply w-48 h-60 mx-6 fill-rose-900;

  }
  .app-header{
    @apply flex font-mono text-2xl justify-center z-20 py-4 mx-auto w-4/5 px-5 fill-slate-200 items-center;
  }
}





  
